<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/cms.css' />
    <script src='/javascripts/ajax_blog.js'></script>
    <meta name="viewport" content="width=device-width, inicial-scale=1.0" =>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet">

  </head>

  <body class='cor1'>
          <%for(var i=0;i<post.length;i++){%>
              <%if(post[i].titulo!=null){%>
                  <%var titulo_split=post[i].titulo.split(" ").join("+")%>
                  <%var urlpost='/easycms/post/?titulo='+ titulo_split;%>

              <%}%>
            <%}%>

    <div class='container'>
      <div class='selecao'>
        <div class="lista_post">
          <%var aux=post.length-1%>

          <%for(aux;aux>0;aux--){%>
            <%if(post[aux].titulo!=null){%>
              <%var titulo_split=post[aux].titulo.split(" ").join("+")%>
              <%var urlpost='http://localhost:3000/easycms/post/?titulo='+ titulo_split;%>

            <div onclick=lerPost('<%=urlpost%>') class="mini_post cor3">
              <h4 class='cor2'><%=post[aux].titulo%></h4>
              <p><%=post[aux].resumo%></p>
            </div>

            <%}%>
            <%}%>
        </div>
        <div onclick='criarNovoPost()' class="novo_post cor2 flex_center"><h3>Novo Post!</h3>
        </div>
      </div>
      <div class="conteudo cor3">
        <div id="post_area">
          <form class='form' id="post_form" action="/easycms/update_post" method="post" autocomplete="off">
            <h3 id='comando'></h3>
            <p id='obs'></p>
            <input class='input' id='titulo' type="text" readonly name="titulo" placeholder='Titulo' value='<%=post.titulo%>' >
            <input class='input' id='tag' type="text" name="tags" placeholder='tags' value='<%=post.tags%>'>
            <textarea class='input' id='resumo'  name="resumo" placeholder="Resumo" ><%=post.resumo%></textarea>
            <textarea  class='input' id='conteudo' name="conteudo" placeholder="Conteudo" ><%=post.conteudo%></textarea>

            <div class="btn_wrap">
              <input type="reset" value="Resetar Campos" class='btn'>
              <input type="submit" id='enviar' value="Update Post" class='btn'>
              <a id='deletar' class="btn">!!!! DELETAR!!!!</a>
            </div>
          </form>
        </div>
      </div>
      </div>

  </body>
</html>
